.color{
    color: #eae2b7,#fcbf49,#f77f00,#d62828,#003049;
}
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin-top: 60px !important;
    background: linear-gradient(180deg, #eae2b7, #fcbf49);
}
form{
    margin: 3% 10%;
}
h1{
    color: #003049 !important;
}
h3{
    color: #003049 !important;
    text-align: center;
    font-weight: 700 !important;
}
.icon-tray{
    background-color: #fcbf49 !important;
    width: 100% !important;
    position: fixed;
    top: 0%;
}
.menu{
    font-size: 18px !important;
    background-color: #eae2b7;
    width: 100%;
    line-height: 50px;
    padding: 10px;
}
.menu a{
    text-decoration: none;
    text-transform: none;
    color: #d62828;
}
.c-list{
    float: right;
    padding-top: 10px;
}
.menu i{
    font-size: 24px;
    margin-right: 20px;
}
.list-name{
    text-align: center;
    padding: 5px 10px;
    background-color: #f77f00;
    color: white !important;
    border-radius: 36px;
}
.list-name:hover{
    font-size: 20px;
    background-color: #d62828;
}
.list-selected{
    font-size: 20px;
    background-color: #d62828;
    margin: 0 8px;
}
.add-task{
    font-size: 20px;
    padding: 8px 20px;
    background-color: #d62828;
    color: #eae2b7;
    text-decoration: none;
    margin: 15px !important;
    position: relative;
    border-radius: 36pc;
    text-transform: uppercase;
}
.add-task:hover{
    background-color: #003049;
    padding: 8px 22px;
    color: white;
}
.cust-table{
    margin: 2% 5% !important;
    width: 90% !important;
}
.cust-dark th{
    padding-top: 18px !important;
    padding-bottom: 18px;
    background-color: #003049 !important;
    font-size: 20px;
}
.cust-light td{
    padding-top: 16px;
    padding-bottom: 16px;
}
.cust-table i{
    margin: 0 8px;
}
.btn-cust{
    background-color: #d62828 !important;
}
label{
    color: #003049 !important;
    font-weight: 900;
}
.pos-para{
    width: 90%;
    font-size: 20px;
    color: black;
    background-color: greenyellow;
    line-height: 40px;
    margin: 0% 5%;
    border-radius: 36px;
    padding: 0 20px;
    font-weight: bolder;
}
.pos-neg{
    width: 90%;
    font-size: 20px;
    color: black;
    background-color: pink;
    line-height: 40px;
    margin: 0% 5%;
    border-radius: 36px;
    padding: 0 20px;
    font-weight: bolder;
}